body {
    background-color: black;
}

@font-face {
    font-family: 'Monsterrat';
    src: url('./fonts/monsterrat/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/source-code-pro/SourceCodePro-Medium.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: white;
    text-align: center;
    font-size: 8.0vh;
    font-family: 'Source Code Pro';
    font-weight: lighter;
  }

p {
    color: white;
    text-align: center;
    font-size: 4.0vh;
    font-family: 'Source Code Pro';
}